{% extends "common.twig" %}

{% block content %}

<form method="post" action="{{path('update_repository', {repository_id: repository.id})}}">
    <table class="table table-bordered table-striped">
        <tr>
            <th><label for="name">Name</label></th>
            <td><input name="name" id="name" type="text" value="{{repository.name}}"/></td>
        </tr>
        <tr>
            <th><label for="path">Path</label></th>
            <td><input name="path" id="path" type="text" value="{{repository.path}}"/></td>
        </tr>
        <tr>
            <th><label for="state">State</label></th>
            <td>
                <select name="state" id="state">
                    <option{% if repository.state == 'active' %} selected="selected"{% endif %}>active</option>
                    <option{% if repository.state == 'inactive' %} selected="selected"{% endif %}>inactive</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="local_path">Local Path</label></th>
            <td><input name="local_path" id="local_path" type="text" value="{{repository.local_path}}"/></td>
        </tr>
    </table>
        
    <table class="table table-bordered table-striped">
        <tr>
            <th>Target</th>
            <th>Server</th>
            <th>Username</th>
            <th>Password</th>
            <th>Directory</th>
        </tr>    
        {% for target in targets %}
            <tr>
                <td>{{ target.name }}</td>
                <td>{{ target.server }}</td>
                <td>{{ target.username }}</td>
                <td>{{ target.password }}</td>
                <td>{{ target.directory }}</td>
                <td>
                    <button class="btn">delete</button>
                </td>
            </tr>    
        {% else %}
            <tr>
                <td colspan="4">no targets available</td>
            </tr>
        {% endfor %}        
    </table> 
        
    <button class="btn btn-primary">save</button>
</form>


{% endblock %}